# pixi
.pixi/
.pixi-cache/
.pip-cache/
*.lock

# models
models/*/

# voices
voices/*/

# files
files/*/

# binaries
bin/

# python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# env
.env
.envrc
.env.example

# logs
*.log

# temp
tmp/
.tmp/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
